<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>

    <link rel="stylesheet" href="./static/css/index.css"/>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Poiret One:wght@400&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Marck Script:wght@400&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=El Messiri:wght@400;600;700&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Great Vibes:wght@400&display=swap"
    />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>
<body>
<div class="root">
    <header class="invitation-title">
        <div class="invitation-subtitle">
            <div class="div">ПРИГЛАШЕНИЕ</div>
            <div class="div1">на свадьбу</div>
        </div>
    </header>
    <section class="root-inner">
        <textarea class="frame-child" rows="{11}" cols="{16}"> </textarea>
    </section>
    <div class="couple-names">
        <div class="div2">Дарья и Дмитрий</div>
    </div>
    <section class="root-child">
        <div class="frame-parent">
            <div class="empty-wrapper">
                <div class="empty">25.07.2025</div>
            </div>
            <div class="frame-item"></div>
        </div>
    </section>
    <div class="guests-title">
        <div class="div3">ДОРОГИЕ ГОСТИ!</div>
    </div>

    <div class="div4">
        <p class="p">В нашей жизни произойдет очень</p>
        <p class="p1">важное событие -</p>
        <p class="p2">
            <b>наша свадьба</b>
        </p>
    </div>


    <div class="d-flex justify-content-center flex-wrap">


        <div class="date-location">
            <div class="date-location-container">
                <div class="date-container">
                    <div class="date-shape"></div>
                    <div class="date-word">
                        <div class="div5">Когда?</div>
                        <div class="weekday">
                            <div class="div6">
                                <p class="p3">25.07.2025</p>
                                <p class="p4">Пятница</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="location-container">
                    <div class="location-elements">
                        <div class="location-word">
                            <div class="div7">Где?</div>
                            <div class="place">
                                <div class="div8">Место</div>
                            </div>
                        </div>
                        <div class="location-shape"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="event-description-inner">
            <div class="frame-inner"></div>
        </div>
    </div>
    <div class="div9">ПРОГРАММА</div>
    <section class="program-container">
        <div class="frame-group">
            <div class="ceremony-parent">
                <div class="ceremony">
                    <div class="ceremony-shape"></div>
                </div>
                <div class="ceremony-word">
                    <div class="wrapper">
                        <div class="div10">
                            <p class="p5">
                                <b>16:30</b>
                            </p>
                            <p class="p6">церемония</p>
                        </div>
                    </div>
                    <div class="cake-shape"></div>
                </div>
                <div class="div11">
                    <p class="p7">
                        <b>21:00</b>
                    </p>
                    <p class="p8">торт</p>
                </div>
            </div>
            <div class="line-div"></div>
            <div class="reception">
                <div class="div12">
                    <p class="p9">
                        <b>16:00</b>
                    </p>
                    <p class="p10">сбор гостей</p>
                </div>
                <div class="reception-elements">
                    <div class="reception-shape"></div>
                    <div class="div13">
                        <p class="p11">
                            <b>17:00</b>
                        </p>
                        <p class="p12">банкет</p>
                    </div>
                    <div class="reception-shape1"></div>
                </div>
            </div>
        </div>
    </section>
    <div class="frame-div">
        <div class="frame-child1"></div>
    </div>


    <section class="d-flex justify-content-center">
        <div class="dress-code-title">
            <div class="div14">ДРЕСС-КОД</div>
        </div>
    </section>


    <section class="dress-code">
        <div class="dress-code-container">
            <div class="div15">
                <p class="p13">Мы очень старались сделать праздник красивым</p>
                <p class="p14">и будем рады, если в своих нарядах</p>
                <p class="p15">
                    <span> вы поддержите </span>
                    <span class="span">цветовую гамму</span>
                    <span class="span1"> нашей свадьбы</span>
                </p>
            </div>
        </div>
    </section>
    <section class="d-flex justify-content-center">
        <div class="ladies-shapes-wrapper">
            <div class="ladies-shapes">
                <div class="shapes"></div>
                <div class="shapes1"></div>
                <div class="shapes2"></div>
                <div class="shapes3"></div>
                <div class="shapes4"></div>
            </div>
        </div>
    </section>

    <section class="d-flex justify-content-center">
        <div class="ladies-container">
            <div class="ladies-title">
                <div class="ladies-parent">
                    <div class="ladies">Ladies</div>
                    <div class="ladies-description">
                        <div class="div16">
                  <span class="txt">
                    <ul class="ul">
                      <li class="li">Вечерние</li>
                    </ul>
                    <p class="p16">платья</p>
                    <ul class="ul1">
                      <li class="li1">Костюмы</li>
                      <li class="li2">Юбки</li>
                      <li class="li3">Блузки</li>
                      <li>Туфли</li>
                    </ul>
                  </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ladies-container-inner">
                <div class="frame-child2"></div>
            </div>
            <div class="gentlemen-container">
                <div class="gentlemens">Gentlemen</div>
                <div class="div17">
                    <ul class="ul2">
                        <li class="li4">Вечерний костюм</li>
                        <li class="li5">Рубашка</li>
                        <li class="li6">Брюки</li>
                        <li class="li7">Пиджак</li>
                        <li>Лоферы</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="d-flex justify-content-center">
        <div class="">ПОДТВЕРДИТЕ СВОЁ ПРИСУТСТВИЕ</div>
    </section>


    <form action="" method="post">
        <div class="mb-3">
            <label for="name" class="form-label" style="font-size: 24px;">Ваше имя и фамилия</label>
            <input class="form-control" id="name" placeholder="Иван Иванов" name="name">
        </div>

        <label for="radios" class="form-label" style="font-size: 24px;">Подтвердите своё присутствие</label>
        <div style="font-size: 20px;" id="radios">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radio" id="flexRadioDefault2" value="Да" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                Да, с удовольствием!
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radio" id="flexRadioDefault1" value="Нет">
            <label class="form-check-label" for="flexRadioDefault1">
                К сожалению, не смогу
            </label>
        </div>
        </div>

        <input type="submit" class="form-control mt-5">

    </form>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>
</html>
